{
    "plugins": ["prettier-plugin-solidity"],
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "solidityBracketSpacing": true,
    "soliditySingleQuote": false,
    "solidityDefaultPragma": "solidity ^0.8.0",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "parser": "solidity-parse"
            }
        }
    ]
}
